h1, h2, p {
	text-align: center;
}
body {
	background-color: #ffffff;
}
.intro {
	width: 80%;
	background-color: rgb(255, 255, 255);
	margin-right: auto;
	margin-left: auto;
	font-family: sans-serif;
}
main {
	text-align: center;
}

.bottom-line{
	width: auto;
	border-color: rgb(255, 255, 255);
	background-color: black;
	
}

footer {
	text-align: center;
}

a:visited{
	color: blue;
}
a:hover {
	color: black;
}

